<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.SufferMapper">

    <!--查询所有患者-->
    <select id="query" resultType="Suffer">
        SELECT s.*,d.deptName deptName ,d.id deptid FROM suffer s LEFT JOIN dept d ON s.deptid=d.id
    </select>

    <!--查询所有科室-->
    <select id="queryDepts" resultType="Department">
        SELECT * FROM dept
    </select>

    <!--插入一条挂号记录-->
    <insert id="insert" parameterType="Suffer">
         INSERT INTO suffer(NAME,gender,age,deptid) VALUES(#{name},#{gender},#{age},#{deptid})
    </insert>

    <!--根据姓名模糊查询-->
    <select id="selectByName" parameterType="String" resultType="Suffer">
         SELECT s.*,d.deptName deptName ,d.id deptid FROM suffer s LEFT JOIN dept d ON s.deptid=d.id WHERE NAME LIKE CONCAT('%',#{name},'%')
    </select>

    <!--多条件查询-->
    <select id="selectByConditions" resultType="Suffer">
         SELECT s.*,d.deptName deptName ,d.id deptid FROM suffer s LEFT JOIN dept d ON s.deptid=d.id
          <where>
              <if test="name!=null">
                  NAME LIKE CONCAT('%',#{name},'%')
              </if>
              <if test="deptid!=null">
                  deptid=#{deptid}
              </if>
              <if test="maxage!=null||maxage!=0">
                   age BETWEEN #{minage} AND {maxage}
              </if>
          </where>
    </select>
</mapper>